@import "tailwindcss";

:root {
  --background: #F1F2EB;
  --foreground: #262626;
  --primary: #EE1E27;
  --secondary: #E09516;
  --tertiary: #7E981E;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-tertiary: var(--tertiary);
}

body{
  background-color: var(--background);
}